.form-title {
  text-align: center;
  margin-top: 100px;
}

.form {
  width: 40%;
  margin: 30px auto;
}

.input-fields {
  outline: none !important;
  outline-offset: none !important;
  border: 1px solid #000 !important;
  border-radius: 0 !important;
}

.input-fields:focus,
.input-fields:active,
.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.submit-btn {
  width: 100%;
  background: transparent !important;
  color: black !important;
  border: 1px solid #000 !important;
  border-radius: 0 !important;
}

.file {
  padding: 15px 5px !important;
}
