.card {
  border-radius: 0 !important;
  border-color: white !important;
  transition: all 0.3s;
  margin-bottom: 20px;
}

.card-body {
  padding: 5px 0 !important;
}

.card:hover {
  border: 1px solid #d2d2 !important;
}

.remove-btn:hover + p > .list-item-cost,
.remove-btn:hover + p > .list-item-title,
.remove-btn:hover + p > .list-item-size,
.remove-btn:hover + p > .list-item-quantity {
  text-decoration: line-through;
}

.card-img {
  height: 300px;
  width: 200px !important;
  margin: 0 auto;
  padding: 5px !important;
}

.edit-button {
  position: absolute;
  top: 0px;
  right: 5px;
  font-size: 18px;
  background: black;
  color: white;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  text-align: center;
  padding: 2px 0 0 1px;
}

.card-title {
  text-align: center;
  margin-top: 20px;
}

.card-txt {
  text-align: center;
}

.card-subtitle::after {
  content: '';
  display: block;
  width: 10%;
  margin: 15px auto;
  height: 2px;
  background-color: rgb(236, 164, 55);
}

.card-btn {
  width: 90%;
  display: block;
  margin: 0 auto;
  background: rgb(19, 18, 18);
  border: none;
  outline: none;
  color: white;
  padding: 8px;
  transition: all 0.3s;
}
