* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* -----App.js------ */

.size {
  font-weight: bold;
}

.products {
  text-align: left;
  font-size: 12px;
}

.order-by {
  font-size: 14px;
}

.header {
  margin-bottom: 10px;
}
